@model MyShop.Core.ViewModels.BasketSummaryViewModel

<ul class="nav navbar-nav navbar-right">
    <li><a href="@Url.Action("Index","Basket")">@Model.TotalItemCount</a></li>
    <li><a href="@Url.Action("Index","Basket")">@String.Format("{0:c}", (Model.TotalBasketValue==null)?0:Model.TotalBasketValue)</a></li>
</ul>
